mixin dark

  style(media='(prefers-color-scheme: dark)').
    :root {
      color-scheme: dark;

      --color: #e1e3e6;
      --color-alfa: 225, 227, 230;
      --color-accent: #1d996e;
      --color-contrast: #ffffff;
      --color-disable: #8a8b8c;
      --color-secondary: #8a8b8c;
      --color-bg: #17191c;
      --color-bg-accent: #1d996e;
      --color-bg-card: #1e2024;
      --color-bg-secondary: #1e2024;
      --color-border: #1e2024;
      --color-border-line: rgb(225, 227, 229, 0.1);
      --color-border-control: #43494d;
      --color-border-accent: #1d996e;
      --color-border-control-disabled: rgb(67, 73, 77, 0.6);
      --color-control-disabled: #8a8b8c;
      --color-focus-input: rgba(29, 153, 110, 0.4);
      --color-payment: #fafafa;
    }
