mixin light

  style(media='(prefers-color-scheme: light)').
    :root {
      color-scheme: light;

      --color: #0a121f;
      --color-alfa: 10, 18, 38;
      --color-accent: #f85a47;
      --color-contrast: #ffffff;
      --color-disable: #979899;
      --color-secondary: #979899;
      --color-bg: #f7f8fa;
      --color-bg-accent: #f85a47;
      --color-bg-card: #ffffff;
      --color-bg-secondary: #edeff2;
      --color-border: #ffffff;
      --color-border-line: rgb(214, 215, 217, 0.6);
      --color-border-control: #d6d7d9;
      --color-border-accent: #f85a47;
      --color-border-control-disabled: rgb(214, 215, 217, 0.6);
      --color-control-disabled: #979899;
      --color-focus-input: rgba(248, 90, 71, 0.4);
      --color-payment: #ffffff;
    }
