include favicon
include sprite
include light
include dark

doctype html

block variables

html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    +favicon
    link(rel="manifest", href="manifest.json")
    title #{title}
    meta(name="color-scheme" content="light dark")
    meta(name="theme-color" media="(prefers-color-scheme: light)" content="#f7f8fa")
    meta(name="theme-color" media="(prefers-color-scheme: dark)" content="#17191c")
    +light
    +dark
  body
    +sprite

    block header
    block main
    block footer
