.checkout-form
  padding: 50px

  font-size: 14px
  line-height: 1

  background-color: $color-white
  border-radius: 8px

.checkout-form__page
  display: none

.checkout-form__page--active
  display: block

.checkout-form__fieldset
  margin-bottom: 30px

.checkout-form__fieldset:last-child
  margin-bottom: 40px
