.checkbox
  position: relative
  display: flex
  cursor: pointer

.checkbox__control
  position: absolute
  appearance: none

.checkbox__label
  display: inline-flex
  align-items: center
  gap: 10px

  font-size: 14px
  line-height: 1
  user-select: none

  .checkbox__control:focus + &
    outline: 1px dotted var(--color-secondary)

  .checkbox__control:disabled + &
    color: var(--color-disable)
    cursor: default

  &::before
    box-sizing: border-box
    content: ""

    display: inline-flex
    flex-grow: 0
    flex-shrink: 0

    width: 20px
    height: 20px

    background-color: transparent
    border: 1px solid var(--color-border-control)
    border-radius: 4px

  .checkbox__control:checked + &::before
    background-color: var(--color-bg-accent)
    background-image: url('#{$path-images}/icons/check-mark.svg')
    background-repeat: no-repeat
    background-position: center
    border-color: var(--color-border-accent)

  .checkbox__control:disabled + &::before
    border: 1px solid var(--color-border-control-disabled)


