.filters-form
  padding: 40px 30px 50px

  background-color: $color-white
  border-radius: 8px

.filters-form__title
  margin: 0 0 40px 0

  font-size: 26px
  font-weight: 600
  line-height: 1

.filters-form__fieldset
  display: flex
  flex-direction: column
  gap: 15px

  margin: 0 0 40px 0
  padding: 0

  border: none

.filters-form__caption
  margin-bottom: 18px
  padding: 0

  font-size: 18px
  font-weight: 600
  line-height: 1

  & > sup
    font-size: 10px
    line-height: 1

.filters-form__input
  margin-bottom: 5px

.filters-form__button
  @include condition

  display: flex
  justify-content: flex-start
  align-items: center
  gap: 10px

  padding: 0

  font-family: inherit
  font-size: 14px
  font-weight: 600
  line-height: 1
  color: $color-tomato

  border: none
  background-color: $color-white
  cursor: pointer

  &::after
    position: relative
    content: ""

    top: 1px
    width: 10px
    height: 6px

    background-color: transparent
    background-image: url("#{$path-images}/icons/arrow-down.svg")
    background-repeat: no-repeat
    background-size: cover

.filters-form__button--collapse
  &::after
    transform: rotate(180deg) translateY(-1px)
