.filters-form
  padding: 40px 30px 50px

  background-color: var(--color-bg-card)
  border-radius: 8px

.filters-form__title
  margin: 0 0 40px 0

  font-size: 26px
  font-weight: 600
  line-height: 1

.filters-form__fieldset
  display: flex
  flex-direction: column
  gap: 15px

  margin: 0 0 40px 0
  padding: 0

  border: none

.filters-form__caption
  margin-bottom: 18px
  padding: 0

  font-size: 18px
  font-weight: 600
  line-height: 1

  & > sup
    font-size: 10px
    line-height: 1

.filters-form__input
  margin-bottom: 5px

.filters-form__button
  @include condition

  display: flex
  justify-content: flex-start
  align-items: center
  gap: 10px

  margin-top: 5px
  padding: 0

  font-family: inherit
  font-size: 14px
  font-weight: 600
  line-height: 1
  color: var(--color-accent)

  border: none
  background-color: transparent
  cursor: pointer

.filters-form__button--collapse
  & > svg
    transform: scale(1, -1)
