.form-field
  display: flex
  flex-direction: column
  gap: 15px

.form-field--required

  & > .form-field__label

    display: inline-flex
    align-items: baseline
    gap: 3px

    &::after
      content: '*'
      vertical-align: super
      font-size: smaller


.form-field__control
  position: relative

.form-field__measuring-unit
  position: absolute
  display: flex

  top: 50%
  right: 14px
  transform: translateY(-50%)

.form-field__textarea
  resize: vertical

  min-height: 120px
  padding: 14px 10px

  font-family: inherit
  font-size: 14px
  line-height: 1

  border: 1px solid $color-gray--form
  border-radius: 4px

.form-field__input,
.form-field__select,
.form-field__control

  .form-field--size-s > &
    width: 90px

  .form-field--size-m > &
    width: 300px

  .form-field--size-l > &
    width: 470px

  .form-field--size-xl > &
    width: 610px
