.form-fieldset
  display: flex
  flex-direction: column
  gap: 30px

  padding: 0 0 30px 0

  border-top: none
  border-right: none
  border-left: none
  border-bottom: 1px solid $color-gray--light

  &:last-child
    padding-bottom: 0
    border-bottom: 0

.form-fieldset--compact
  gap: 15px

.form-fieldset__caption
  margin-bottom: 25px
  padding: 0

  font-weight: 600
  font-size: 22px
  line-height: 1

  .form-fieldset--compact > &
    margin-bottom: 15px

.form-fieldset__column-layout
  display: grid
  grid-template-columns: repeat(3, 1fr)
  gap: 30px 40px

.form-fieldset__column-layout--single
  display: grid
  row-gap: 15px
  width: 290px

.form-fieldset__control-float
  align-self: end
  padding-bottom: 10px

.form-fieldset__description
  max-width: 330px
  margin: 0

  font-size: 14px
  line-height: 1.4
