.notification
  box-sizing: border-box
  display: inline-flex
  align-items: center
  justify-content: center

  width: 20px
  height: 20px

  font-weight: 700
  font-size: 14px
  line-height: 1
  color: $color-white

  background-color: $color-tomato
  border-radius: 50%
