.options
  display: grid
  row-gap: 20px

.options__item
  display: grid
  row-gap: 8px

.options__name
  display: inline-grid
  grid-template-columns: 28px 1fr
  align-items: center

  font-size: 18px
  font-weight: 600
  line-height: 1

.options__img
  grid-column: 1 / 2

.options__value
  margin-inline-start: 28px

  line-height: 1.4
  color: $color-gray
