.page-section
  padding-bottom: 130px

.page-section--grid
  display: grid
  grid-template-columns: 360px 1fr
  grid-template-areas: "header header" "filters catalog" "pagination pagination"
  column-gap: 60px

.page-section__header
  grid-area: header
  margin-bottom: 50px

.page-section__title
  margin-top: 0
  margin-bottom: 20px

  font-size: 42px
  line-height: 1

.page-section__subtitle
  margin: 0

  font-weight: 600
  font-size: 16px
  line-height: 1

.page-section__filters-form
  align-self: start
  grid-area: filters

.page-section__pagination
  grid-area: pagination
