.photo-upload__description
  margin: 0 0 15px 0

  font-size: 12px
  line-height: 16px
  color: var(--color-secondary)

.photo-upload__content
  box-sizing: border-box

  display: flex
  flex-direction: column
  align-items: center
  gap: 20px

  width: 840px
  min-height: 160px
  padding: 40px 20px 20px

  font-size: 14px
  line-height: 1
  color: inherit

  border: 1px solid var(--color-border-control)
  border-radius: 4px

  .photo-upload--filled &
    flex-direction: row-reverse
    justify-content: flex-end
    gap: 15px

    padding-top: 20px
    padding-bottom: 20px

.photo-upload__control
  display: none

.photo-upload__label
  display: flex
  justify-content: center
  align-items: center

  padding: 13px 24px

  font-weight: 500
  color: var(--color-accent)

  border: 1px solid var(--color-bg-accent)
  border-radius: 6px
  cursor: pointer

  .photo-upload--filled &
    box-sizing: border-box
    position: relative

    width: 170px
    height: 120px
    padding-top: 70px

    font-size: 12px
    line-height: 1

    border: 1px solid var(--color-border-accent)
    border-radius: 4px

.photo-upload__image
  position: absolute

  display: inline-flex
  align-items: center

  top: 30px
  left: 50%
  transform: translateX(-50%)

.photo-upload__container
  display: flex
  gap: 15px

  margin: 0
  padding: 0

  list-style: none

.photo-upload__item
  position: relative
  border-radius: 4px
  overflow: hidden

.photo-upload__img
  vertical-align: middle

.photo-upload__buttons
  display: none
  position: absolute
  flex-direction: column
  align-items: flex-end
  justify-content: center
  gap: 10px

  padding: 10px

  top: 0
  right: 0
  bottom: 0
  left: 0

  background-color: rgba(10, 18, 31, .4)

.photo-upload__item:hover .photo-upload__buttons
  display: flex

.photo-upload__button
  display: flex
  justify-content: center
  align-items: center
  padding: 0
  width: 26px
  height: 26px

  background-color: var(--color-bg-card)
  border: none
  border-radius: 50%
  cursor: pointer
