.reviews
  display: grid
  row-gap: 50px
  justify-items: center

.reviews__list
  display: grid
  row-gap: 18px

  margin: 0
  padding: 0

  list-style: none

.reviews__item
  box-sizing: border-box
  width: 660px
