.summary
  padding: 50px 30px

  background-color: $color-white
  border-radius: 8px

.summary__header
  display: grid
  grid-template-columns: auto 1fr
  grid-template-areas: "price price" "rating rate"
  row-gap: 15px
  padding-bottom: 25px
  border-bottom: 1px solid rgb(10, 18, 31, 0.1)

.summary__price
  grid-area: price
  margin: 0

.summary__rating
  grid-area: rating
  margin-right: 8px

.summary__rate
  grid-area: rate

.summary__favorite
  z-index: 1
  grid-area: 1/2/2/3
  justify-self: end
  align-self: start
