.tariff-plan
  padding: 30px 20px

  font-size: 14px
  line-height: 1

  border: 1px solid $color-gray--form
  border-radius: 6px
  cursor: pointer

  &:focus
    border-color: $color-tomato

.tariff-plan--active
  border-color: $color-tomato

.tariff-plan--hit
  position: relative

  &::after
    position: absolute
    content: "Хит"

    padding: 7px 10px 7px 27px

    top: 24px
    right: 20px

    font-weight: 500
    font-size: 12px
    line-height: 1
    text-transform: uppercase
    color: $color-white

    background-color: $color-tomato
    background-image: url("#{$path-images}/icons/fire.svg")
    background-repeat: no-repeat
    background-position: left 10px center

    border-radius: 30px


.tariff-plan__title
  margin: 0 0 10px 0

  font-weight: 600
  font-size: 14px
  line-height: 1

.tariff-plan__price
  margin: 0
  padding-bottom: 20px

  font-weight: 600
  font-size: 24px
  line-height: 1

  border-bottom: 1px solid $color-gray--light

.tariff-plan__options
  display: flex
  flex-direction: column
  gap: 15px

  margin: 0
  padding: 20px 0 0 0

  line-height: 1.4
  list-style: none
