$color-blue--dark: #0A121F
$color-blue--light: #EDEFF2
$color-tomato: #F85A47
$color-white: #FFFFFF
$color-white--matt: #F7F8FA
$color-gray: #979899
$color-gray--light: rgb(10, 18, 31, 0.1)
$color-autumn-orange: #F1A316
