extends ../../templates/staffolding

include ../../templates/getClassName

include ../../blocks/page-header
include ../../blocks/breadcrumbs
include ../../blocks/page-footer

block variables
  -
    title = "Page name"
    const data = require('./data.json')

block header
  +page-header
block main
  main.page-content
    +breadcrumbs
block footer
  +page-footer
