extends ../../templates/staffolding

include ../../templates/variables
include ../../templates/helpers

include ../../blocks/page-header
include ../../blocks/breadcrumbs
include ../../blocks/page-section
include ../../blocks/popular-offers
include ../../blocks/page-footer

block variables
  -
    title = 'Главная страница сервиса недвижимости «Houze»'

  +variables
  +helpers

block header
  +page-header
block main
  main.page-content
    +breadcrumbs
    +page-section
    +popular-offers
block footer
  +page-footer
