extends ../../templates/staffolding

include ../../blocks/page-header
include ../../blocks/breadcrumbs
include ../../blocks/products-section
include ../../blocks/popular-offers
include ../../blocks/page-footer

block variables
  -
    title = 'Главная страница сервиса недвижимости «Houze»'
    const data = require('./data.json')
    const goods = require('./goods.json')
    const inflictWord = require('../../templates/inflictWord.js')
    const getClassName = require('../../templates/getClassName.js')

block header
  +page-header
block main
  main.page-content
    +breadcrumbs
    +products-section
    +popular-offers
block footer
  +page-footer
