extends ../../templates/staffolding

include ../../templates/helpers

include ../../blocks/page-header
include ../../blocks/breadcrumbs
include ../../blocks/page-section
include ../../blocks/page-footer
include ../../blocks/filters-form

block variables
  -
    title = 'Главная страница сервиса недвижимости «Houze»'
    data = require('./index.json')
    products = require('../../templates/products.json')

  +helpers

block header
  +page-header
block main
  main.page-content.page-content--default
    +breadcrumbs('page-content')
    +page-section(data['page-section'][0],
      [products[0], products[1], products[2], products[4], products[5], products[6], products[8], products[9], products[10]],
      false, true, true)
    +page-section(data['page-section'][1], [products[0], products[4], products[11], products[5]], true)
block footer
  +page-footer
