extends ../../templates/staffolding

include ../../templates/variables
include ../../templates/helpers

include ../../blocks/page-header
include ../../blocks/breadcrumbs
include ../../blocks/page-section
include ../../blocks/page-footer

block variables
  -
    title = 'Главная страница сервиса недвижимости «Houze»'

  +variables
  +helpers

block header
  +page-header
block main
  main.page-content
    +breadcrumbs('page-content')
    +page-section(data['page-section'][0], goods, false, true)
    +page-section(data['page-section'][1], [goods[0], goods[4], goods[11], goods[5]], true)
block footer
  +page-footer
