mixin accent(parent)

  -
    const name = 'accent'
    className = getClassName(name, parent)

  div(class=className)
    img(class=`${name}__img` src=require('../../assets/img/icons/thumbs-up.svg') width='14' height='14' alt='Палец вверх')
    span(class=`${name}__text`) Популярный отзыв
