include tariff-plan

mixin checkout-form--tariffs

  form.checkout-form(action="#" method="POST")

    fieldset.checkout-form__section
      legend.checkout-form__section-title Тарифы

      .checkout-form__tariffs-plans

        input(type='radio' name='tariff-plan' value='tariff-plan-standard', aria-describedby='tariff-plan-standard' checked)
        input(type='radio' name='tariff-plan' value='tariff-plan-premium', aria-describedby='tariff-plan-premium')
        input(type='radio' name='tariff-plan' value='tariff-plan-max', aria-describedby='tariff-plan-max')

        +tariff-plan({
          title: 'Стандарт', price: '15 ₽/сутки', id: 'tariff-plan-standard', active: true, options: [
            'Стандартное размещение на странице объявлений',
            'Доступ к кабинету Houze Pro',
            'Автопродление объявлений'
          ]
        })

        +tariff-plan({
          title: 'Премиум', price: '25 ₽/сутки', hit: true, id: 'tariff-plan-premium', options: [
            'Размещение на первой странице объявлений',
            'Выделение цветом',
            'Помощь в составлении объявления'
          ]
        })

        +tariff-plan({
          title: 'Стандарт', price: '35 ₽/сутки', id: 'tariff-plan-max', options: [
            'Закрепление в верхней части страницы',
            'Выделение цветом',
            'Выделение большим размером'
          ]
        })

      .checkout-form__controls
        button.checkout-form__button.button.button--primary(type='button') Назад
        button.checkout-form__button.button.button--secondary(type='button') Далее
