include checkout-form--default
include checkout-form--service
include checkout-form--price
include checkout-form--tariffs

mixin checkout-section(title, formName)

  section.checkout-section
    h2.visually-hidden #{title}
    case formName
      when 'service'
        +checkout-form--service
      when 'price'
        +checkout-form--price
      when 'tariffs'
        +checkout-form--tariffs
      when 'basic'
      default
        +checkout-form--default
