include checkout-section

mixin checkout

  article.checkout
    h1.checkout__title  Новое объявление
    .checkout__progress
      // Progress steps
    .checkout__form
      //+checkout-section('Основные данные', 'basic')
      //+checkout-section('Удобства и условия', 'service')
      //+checkout-section('Цена', 'price')
      +checkout-section('Тарифы', 'tariffs')
      //+checkout-section('Оплата', 'payment')
