mixin checkout-form--payment

  form.checkout-form(action="#" method="POST")

    fieldset.checkout-form__section
      legend.checkout-form__section-title Удобства и услуги

    fieldset.checkout-form__section
      legend.checkout-form__section-title Условия проживания

    fieldset.checkout-form__section
      legend.checkout-form__section-title Заселение

    .checkout-form__controls
      button.checkout-form__button.checkout-form__button--back(type='button') Назад
      button.checkout-form__button.checkout-form__button--forward(type='button') Далее
