include checkbox
include select

mixin checkout-form--price

  form.checkout-form(action="#" method="POST")

    fieldset.checkout-form__section
      legend.checkout-form__section-title Цена

      label.checkout-form__field
        span.checkout-form__field-label Арендная плата
        input.checkout-form__field-input(type='text' name='rent' id='rent' placeholder='₽')

      label.checkout-form__field
        span.checkout-form__field-label Коммунальные платежи
        input.checkout-form__field-input(type='text' name='utility-bills' id='utility-bills' placeholder='₽')

      +checkbox({text: 'Оплата по счетчикам отдельно', name: 'counter-separately', id: 'counter-separately', checked: true})

      label.checkout-form__field
        span.checkout-form__field-label Предоплата
        +select({name: 'deposit-period', id: 'deposit-period', options: [{text: '1 месяц'}, {text: '2 месяца'} , {text: '3 месяца'}]})

      label.checkout-form__field
        span.checkout-form__field-label Залог собственнику
        input.checkout-form__field-input(type='text' name='deposit' id='deposit' placeholder='₽')

      +checkbox({text: 'Без залога', name: 'none-deposit', id: 'none-deposit'})

    fieldset.checkout-form__section
      legend.checkout-form__section-title Возможен онлайн-показ
      p.checkout-form__description Выберите, если готовы показать объект онлайн с помощью сервисов видео‑звонков.
      +checkbox({text: 'Готовы показать онлайн', name: 'online-show', checked: true})

    .checkout-form__controls
      button.checkout-form__button.checkout-form__button--back(type='button') Назад
      button.checkout-form__button.checkout-form__button--forward(type='button') Далее
