include progress
include checkout-section

include checkout-form--basic
include checkout-form--service

mixin checkout

  article.checkout
    h1.checkout__title  Новое объявление
    .checkout__progress
      +progress
    form.checkout__form(action='#' method='POST')
      +checkout-form--basic
      +checkout-form--service
      +checkout-section('Цена', 'price')
      +checkout-section('Тарифы', 'tariffs')
      +checkout-section('Оплата', 'payment')
