include form-group
include select
include photo-upload

mixin checkout-form--basic

  section.checkout-form.checkout-form__page--active(id='section-1')
    h2.visually-hidden Основные данные
    fieldset.checkout-form__section
      legend.checkout-form__section-title Контакты

      +form-group('Сдает квартиру', [
        {name: 'landowner', value: 'owner', checked: true, text: 'Собственник'},
        {name: 'landowner', value: 'owner', text: 'Агент'}
      ], 'radiobutton')

      label.checkout-form__field.checkout-form__field--required
        span.checkout-form__field-label Имя
        input.chekout-form__field-control.input(type='text' name='owner-name' id='owner-name' placeholder='Иван Иванов')

      label.checkout-form__field.checkout-form__field--required
        span.checkout-form__field-label Подтвердите мобильный телефон
        input.chekout-form__field-control.input(type='tel' name='owner-phone' id='owner-phone' placeholder='+7 ( _ _ _ ) _ _ _ - _ _ - _ _')

    fieldset.checkout-form__section
      legend.checkout-form__section-title Объект

      +form-group('Тип жилья', [
        {name: 'land-object', value: 'flat', checked: true, text: 'Квартира'},
        {name: 'land-object', value: 'apartment', text: 'Апартаменты'},
        {name: 'land-object', value: 'house', text: 'Дом'},
      ], 'radiobutton')

      label.checkout-form__field.checkout-form__field--required
        span.checkout-form__field-label Адрес
        input.chekout-form__field-control.input(type='text' name='object-address' id='object-address' placeholder='Укажите город, улицу, дом и квартиру')

      label.checkout-form__field.checkout-form__field--required
        span.checkout-form__field-label Количество комнат

        +select({name: 'room-count', id: 'room-count', options: [
            {text: '1'}, {text: '2', selected: true}, {text: '3'},
          ]})

      label.checkout-form__field.checkout-form__field--required
        span.checkout-form__field-label Общая площадь
        input.chekout-form__field-control.input(type='text' name='total-area' id='total-area' placeholder='м2')

    fieldset.checkout-form__section
      legend.checkout-form__section-title Фото
      p.checkout-form__disclaimer Загрузите фотографии всех комнат. Не допускаются к размещению фотографии с водяными знаками, чужих объектов и рекламные баннеры. JPG, PNG или GIF. Максимальный размер файла 10 мб

      +photo-upload(true)

    //.checkout-form__controls
    //  button.checkout-form__button.button.button--secondary(type='button') Далее
