include checkout-form--default
include checkout-form--service

mixin checkout-section(title, formName)

  section.checkout-section
    h2.visually-hidden #{title}
    case formName
      when 'service'
        +checkout-form--service
      when 'basic'
      default
        +checkout-form--default
