mixin credit-card(obj)

  .credit-card

    li.credit-card__field
      span.credit-card__field-label Имя держателя карты (латинскими буквами)
      input.credit-card__field-control(type='text' name='credit-card-owner' id='credit-card-owner' placeholder='VALERIA GRISHAEVA')

    li.credit-card__field
      span.credit-card__field-label Номер карты
      input.credit-card__field-control(type='text' name='credit-card-number' id='credit-card-number' placeholder='1111 2222 3333 4444')

    li.credit-card__field
      span.credit-card__field-label Срок действия карты
      input.credit-card__field-control(type='text' name='credit-card-validity-date' id='credit-card-validity-date' placeholder='10/23')

    li.credit-card__field
      span.credit-card__field-label CVC/CVV
      input.credit-card__field-control(type='password' name='credit-card-cvc' id='credit-card-cvc' placeholder='123')
