include radiobutton
include checkbox

mixin form-group(title, arr, controls)

  .form-group
    p.form-title #{title}
    .from-group__controlls
      case controls
        when 'radiobutton'
          each control in arr
            +radiobutton(control)
        when 'checkbox'
          each control in arr
            +checkbox(control)
