include photo-upload

mixin form-fieldset--photo

  fieldset.form-fieldset
    legend.form-fieldset__caption Фото
    p.form-fieldset__disclaimer Загрузите фотографии всех комнат. Не допускаются к размещению фотографии с водяными знаками, чужих объектов и рекламные баннеры. JPG, PNG или GIF. Максимальный размер файла 10 мб

    +photo-upload(true)
