include radiobutton
include checkbox

mixin form-group(title, arr, controls, isColumn)

  -
    const name = 'form-group';
    className = isColumn ? `${name} ${name}--column` : name

  div(class = className)
    p.form-group__title #{title}
    .from-group__controls
      case controls
        when 'radiobutton'
          each control in arr
            +radiobutton(control)
        when 'checkbox'
          each control in arr
            +checkbox(control)
