mixin input(obj, parent, isMU)

  -
    const name = 'input'
    className = getClassName(name, parent)
    className = isMU ? `${className} ${name}--mu` : className

  input(class=className type='text')&attributes({
    id: obj.id,
    name: obj.name,
    placeholder: obj.placeholder,
    value: obj.value,
    'aria-label' : obj['aria-label']
  })
