include logo
include site-navigation
include button
include user-navigation

mixin main-navigation(parent)

  -
    const name = 'main-navigation'
    className = getClassName(name, parent)

  nav(class=className)
    +logo(name)
    +site-navigation
    +button('shortcut', 'Разместить объявление', name)
    +user-navigation
