include logo
include site-navigation
include button
include user-navigation

mixin main-navigation

  - const name = 'main-navigation'

  nav.main-navigation
    +logo(name)
    +site-navigation
    +button('shortcut', 'Разместить объявление', name)
    +user-navigation
