include select

mixin order-params(obj)

  dl.order-params
    dt.order-params__caption  Выбранный тариф
    dd.order-params__value  Стандарт
    dt.order-params__caption  Стоимость, ₽/сутки
    dd.order-params__value  15 ₽/сутки
    dt.order-params__caption  Количество дней
    dd.order-params__value
      +select(obj)
    dt.order-params__caption  Сумма к оплате:
    dd.order-params__value  450 ₽

