include location
include theme-switcher
include main-navigation

mixin page-header

  header.page-header

    .page-header__services
      .page-header__services-wrapper
        +location
        +theme-switcher
    .page-header__navigation
      +main-navigation
