mixin photo-upload

  .photo-upload
    label.photo-upload__label(for='object-photo')
      span.photo-upload__labe-text  Для загрузки перетащите файл сюда
    input.photo-upload__control(type='file' id='oject-photo')
    // контейнер для загруженных фотографий
    .photo-upload__container
