include catalog

mixin popular-offers

  -
    const name = 'popular-offers'
    items = [goods[0], goods[4], goods[11], goods[5]]

  section(class=name)
    h2(class=`${name}__title`)  Популярные предложения
    +catalog(items, true)
