include catalog
include pagination

mixin products-section

  -
    const name = 'products-section'

  section(class=name)
    h1(class=`${name}__title`)  Снять посуточно квартиру в Краснодаре
    p(class=`${name}__subtitle`)  Найдено 367 вариантов
    +catalog(goods)
    +pagination
