include review
include link

mixin reviews(arr)

  -
    const name = 'reviews'

  div(class=name)
    ul(class=`${name}__list`)
      each item in arr
        +review(item, `${name}__item`)

    +link('#', 'Показать ещё')
