mixin select(obj, parent)

  -
    const name = 'select'
    className = getClassName(name, parent)

  select(class = className name=obj.name id=obj.id)
    each item in obj.options
      option&attributes({selected: item.selected}) #{item.text}
