include price
include rating
include rate
include favorite
include options
include button

mixin summary(parent)

  -
    const name = 'summary'
    className = getClassName(name, parent)

  div(class=className)
    div(class=`${name}__header`)
      +price(4500, 'summary', 'large')
      +rating("4,96", 'medium', name)
      +rate(12, '#', false, name)
      +favorite(true, name)
    +options(name)
    p(class=`${name}__description`)
      | Уютная и полностью оснащенная всем необходимым для  проживания квартира. Шаговая доступность к основным достопримечательностям города. В квартире есть спальня с кроватью King Size, а также дополнительное спальное место, большая обеденная зона и рабочее место. Есть кондиционер, стиральная машина, оснащенная кухня, посуда, телевизор, Wi-Fi.

    +button('secondary', 'Забронировать', name)
    +button('primary', 'Написать хозяину', name)
