include services
include landmarks

mixin tabs

  .tabs

    ul.tabs__navigation

      li.tabs__navigation-item
        a.tabs__navigation-link.tabs__navigation-link--active(href='#page-1')
          | Удобства и услуги

      li.tabs__navigation-item
        a.tabs__navigation-link(href='#page-2')
          | Ориентиры

      li.tabs__navigation-item
        a.tabs__navigation-link(href='#page-3')
          | Отзывы

    ul.tabs__pages

      li.tabs__pages-item.tabs__pages-item--active(id='page-1')
        +services
      li.tabs__pages-item(id='page-2')
        +landmarks
      li.tabs__pages-item(id='page-3')
