include services
include landmarks
include reviews

mixin tabs(parent)

  -
    className = getClassName('tabs', parent)

  div(class=className)

    ul.tabs__navigation

      li.tabs__navigation-item
        a.tabs__navigation-link(href='#page-1')
          | Удобства и услуги

      li.tabs__navigation-item
        a.tabs__navigation-link(href='#page-2')
          | Ориентиры

      li.tabs__navigation-item
        a.tabs__navigation-link.tabs__navigation-link--active(href='#page-3')
          | Отзывы

    .tabs__page(id='page-1')
      +services
    .tabs__page(id='page-2')
      +landmarks
    .tabs__page.tabs__page--active(id='page-3')
      +reviews(data['product-card'].reviews)
