extends ../../templates/staffolding

include ../../templates/helpers

include ../../blocks/page-header
include ../../blocks/progress
include ../../blocks/page-footer

block variables
  -
    title = 'Разместить объявление'
    data = require('./form.json')

  +helpers

block header
  +page-header

block main
  main.page-content.page-content--form
    +progress

block footer
  +page-footer('small')
